.active-title {
    font-weight: bold;
    background-color: peru;
}
.iconfont.iconnaichabeizi {
    font-size: 40px;
    line-height: 40px;
    color: peru;
}

.row.gutter {
    margin: 0 auto;
}

.row.gutter>[class*='col-'] {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
}
/* 底部 */
ul li{
    list-style: none;
}
.notice .foot-subscript li {
    float: left;
    margin-left: 20px;
    list-style: none;
}
.notice .foot-subscript li a {
    display: inline-block;
    width: 32px;
    height: 32px;
    text-decoration: none;
}

.notice .foot-subscript li:first-child a {
    background: url("../image/qq.png");
}

.notice .foot-subscript li:nth-child(2) a {
    background: url("../image/wx.png") 0 0 no-repeat;
}

.notice .foot-subscript li:nth-child(3) a {
    background: url("../image/taobao.png") 0 0 no-repeat;
}

.notice .foot-subscript li:last-child a {
    background: url("../image/wb.png") 0 0 no-repeat;
}

.footer {
    background-color: #ddd;
    /* height: 250px;
    min-height: 250px;
    margin-top: 10px; */
    padding-top: 25px;
}

.connect h5, .saoma h5, .notice h5 {
    /* text-align: center; */
    color: #222;
}