.first-image, .second-image, .third-image {
    object-fit: fill;
    width: 100%;
}

.iconfont.iconyouhui, .iconfont.iconbaokuan, .iconfont.iconnaicha1, .iconfont.iconxiangmutuandui, .iconfont.iconpinpai, .iconfont.iconfuwu1 {
    color: peru;
    font-size: 30px;
}