.header-content {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    height: 100px;
    justify-content: space-between;
}


ul li {
    list-style: none;
}

.menu {
    height: 100px;
}

.menu li {
    display: inline-block;
    line-height: 100px;
    font-size: 20px;
    margin-left: 20px;
}

li a {
    text-decoration: none;
    color: #222;
    cursor: pointer;
}

.header .title {
    font-size: 30px;
    font-family: KaiTi;
}

li a:hover {
    color: #ccc;
}

.iconfont.iconnaichabeizi {
    font-size: 60px;
    line-height: 100px;
    color: peru;
}

/* 内容 */

.news {
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    min-height: 500px;
}

.news .newsList, .page {
    width: 1200px;
    margin: 0 auto;
}
/* 
.newsBox img {
    width: 350px;
    height: 350px;
} */

.newsList .page {
    text-align: center;
}

#boxIn {
    width: 100%;
    /* text-align: center; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.title {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color:#222;
    padding: 5px 10px 20px 5px ;
}
a:hover{
       text-decoration: none;
       
}
.newsList a{
    text-decoration: none!important;
}
