
/* 内容 */

.detail {
    width: 100%;
    margin: 0 auto;
}

#detailContent {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.iconfont.iconNMStubiao- {
    color: #ffccc7;
    font-size: 40px;
}